<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @contact.owner_id %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @contact.friend_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
